body {
  margin: 0px auto;
  background-color: lightgrey;
  font-family: "Poppins", sans-serif;
}
.collaction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.details {
  /* border: 1px solid black; */
  padding: 15px;
  background-color: white;
}
.details-img {
  display: flex;
  justify-content: center;
  /* width: 50%; */
}
@media screen and (max-width: 576px) {
  .collaction {
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .collaction {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
}
@media screen and (min-width: 993px) and (max-width: 1400px) {
  .collaction {
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
}
